.addOptions{
  display: flex;
  padding: $m-size;
  flex-direction: column;
}

.addOptions__input {
  flex-grow: 1;
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  margin: 0 0 $s-size 0;
  color: $off-white;
  padding: $s-size;
}

.addOptions-error {
  font-style: italic;
  color: $off-white;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

@media (min-width: $desktop-breakpoint){
  .addOptions {
    flex-direction: row;
  }

  .addOptions__input {
    margin: 0 $s-size 0 0;
  }
}
